<nav-bar-directive></nav-bar-directive>

<div class="container">
  <div class="row">
    <div class="col s12 m12 l12">

  <!-- Modal Trigger -->
  <button data-target="modal1" class="btn modal-trigger waves-effect waves-light btn orange darken-1">Create New User</button>

  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <div class="createUser">
        <div class="input-field col s6">
          <input id="first_name" type="text" class="validate" ng-model="firstName">
          <label for="first_name">First Name</label>
        </div>
        <div class="input-field col s6">
          <input id="last_name" type="text" class="validate" ng-model="lastName">
          <label for="last_name">Last Name</label>
        </div>
        <div class="input-field col s12">
          <input id="email" type="text" class="validate" ng-model="email">
          <label for="email">Email</label>
        </div>
        <div class="input-field col s12">
          <input id="password" type="password" class="validate" ng-model="password1">
          <label for="password">Password</label>
        </div>
        <div class="input-field col s12">
          <input id="password" type="password" class="validate" ng-model="password2">
          <label for="password">Re-enter Password</label>
        </div>
        <form action="#" class="checkBox">
          <p>
            <input type="checkbox" id="test5"/ ng-model="admin">
            <label for="test5">Admin</label>
          </p>
        </form></br>
        <a ui-sref="admin" id="create" class="waves-effect waves-light btn orange darken-1 modal-action modal-close" ng-click="createUser(firstName, lastName, email, password1, password2, admin)">Create</a>
      </div>

    </div>
  </div>
    </div>






    <div class="col s12 m12 l12">
      <div class="allUsers">
        <h4 class="adminTitle">Active Users</h4>
        <table class="bordered highlight">
        <thead>
          <tr>
              <th data-field="name">Name</th>
              <th data-field="name">Email</th>
              <th data-field="name">Admin</th>
          </tr>
        </thead>

        <tbody ng-repeat="user in accounts">
          <tr>
            <td>{{user.firstName}} {{user.lastName}}</td>
            <td>{{user.email}}</td>
            <td>{{user.admin}}</td>
          </tr>
        </tbody>
      </table>
      </div>
    </div>
  </div>
</div>
