.allUsers {
    margin-top: 10px;
    border: 1px solid #DEDEDE;
    background-color: #fff;
    border-radius: 5px;
}

.adminTitle {
  text-align: center;
}

.checkBox {
  margin-left: 10px;
}

#create {
  margin-left: 10px;
  margin-bottom: 10px;
}

.material-icons.edit {
  color: #000;
  cursor: pointer;
 }

.material-icons.trash {
  color: red;
  cursor: pointer;
 }

 .material-icons.trash:active {
   color: #dedede;
  }

  .material-icons.edit:active {
    color: #dedede;
  }

  .switch {
    display: inline;
  }

  .hideText {
    color: #fff;
  }
