<nav-bar-directive></nav-bar-directive>

<div class="container">
  <div class="row">
    <div class="col s12 m12 l12">
      <a ui-sref="newUser"><button class="waves-effect waves-light btn orange darken-1">Create New User</button></a>
    </div>






    <div class="col s12 m12 l12">
      <div class="allUsers">
        <h4 class="adminTitle">Active Users</h4>
        <table class="bordered centered">
        <thead>
          <tr>
              <th data-field="name">Name</th>
              <th data-field="name">Email</th>
              <th data-field="name">Admin</th>
              <th data-field="name">Edit</th>
              <th data-field="name">Delete</th>
              <th class="hideText" data-field="name">Delete</th>
          </tr>
        </thead>

        <tbody ng-repeat="user in accounts">
          <tr>
            <td>{{user.firstName}} {{user.lastName}}</td>
            <td>{{user.email}}</td>
            <td>{{user.admin}}</td>
            <td><a><i class="material-icons edit">mode_edit</i></a></td>
            <td>
              <div class="switch">
                <label>
                  <input type="checkbox" ng-click="confirmDelete = !confirmDelete">
                  <span class="lever"></span>
                </label>
              </div>
            </td>
            <td><a ng-click="deleteUser(user._id, user.admin)" ng-show="confirmDelete"><i class="material-icons trash">delete</i></a></td>
          </tr>
        </tbody>
      </table>
      </div>
    </div>
  </div>
</div>
