.allUsers {
    margin-top: 10px;
    border: 1px solid #DEDEDE;
    background-color: #fff;
    border-radius: 5px;
}

.adminTitle {
  text-align: center;
}

.checkBox {
  margin-left: 10px;
}

#create {
  margin-left: 10px;
  margin-bottom: 10px;
}

.material-icons.trash { color: #000; }
