<nav-bar-directive></nav-bar-directive>

<div class="container">
  <div class="row"></br></br>
       <div class="col s12 m5 l3"></div>
       <div class="col s12 m12 l12">
         <div class="row">
           <form class="col s12" class="profileForm">
             <div class="row">
               <div class="input-field col s6">
                 <input disabled value="{{user.firstName}}" id="first_name" type="text" class="validate">
                 <label class="active" for="first_name">First Name</label>
               </div>
               <div class="input-field col s6">
                 <input disabled value="{{user.lastName}}" id="last_name" type="text" class="validate">
                 <label class="active" for="last_name">Last Name</label>
               </div>
               <div class="input-field col s12">
                 <input disabled value="{{user.email}}" id="email" type="email" class="validate">
                 <label class="active" for="email">Email</label>
               </div></br>
               <form action="#">
                  <p>
                   <input type="checkbox" id="test5" ng-click="password = !password"/>
                   <label for="test5">Change Password</label>
                  </p>
                  <div class="input-field col s6" ng-show="password">
                    <input id="email" type="password" class="validate" ng-model="password1">
                    <label class="active" for="email">Password</label>
                  </div>
                  <div class="input-field col s6" ng-show="password">
                    <input id="email" type="password" class="validate" ng-model="password2">
                    <label class="active" for="email">Re-enter Password</label>
                  </div>
              </form>
             </div>
           </form>
         </div>
         <a ng-show="password"  class="waves-effect waves-light btn orange darken-1" ng-click="updateProfile(password1, password2, check)">Update Profile</a>
       </div>
     </div>
   </div>
